<div>
    <h2 id="page-heading">
        <span jhiTranslate="campFireApp.mood.home.title">Moods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mood-mpm" [routerLink]="['/mood-mpm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campFireApp.mood.home.createLabel">
            Create new Mood
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="moods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="campFireApp.mood.rank">Rank</span></th>
            <th><span jhiTranslate="campFireApp.mood.date">Date</span></th>
            <th><span jhiTranslate="campFireApp.mood.user">User</span></th>
            <th><span jhiTranslate="campFireApp.mood.sprint">Sprint</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mood of moods ;trackBy: trackId">
                <td><a [routerLink]="['/mood-mpm', mood.id, 'view' ]">{{mood.id}}</a></td>
                <td>{{mood.rank}}</td>
                <td>{{mood.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="mood.userId">
                        <a [routerLink]="['../user-details-mpm', mood.userId , 'view' ]" >{{mood.userId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mood.sprintId">
                        <a [routerLink]="['../sprint-mpm', mood.sprintId , 'view' ]" >{{mood.sprintName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mood-mpm', mood.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mood-mpm', mood.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mood-mpm/'+ mood.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
