<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bookmark-mpm-heading" jhiTranslate="campFireApp.bookmark.home.createOrEditLabel">Create or edit a Bookmark</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bookmark.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bookmark.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.bookmark.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="bookmark.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.bookmark.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="bookmark.url" required/>
                    <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.bookmark.folder" for="field_folder">Folder</label>
                    <select class="form-control" id="field_folder" name="folder" [(ngModel)]="bookmark.folderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="folderOption.id" *ngFor="let folderOption of folders; trackBy: trackFolderById">{{folderOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
