<div>
    <h2 id="page-heading">
        <span jhiTranslate="campFireApp.sprint.home.title">Sprints</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sprint-mpm" [routerLink]="['/sprint-mpm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campFireApp.sprint.home.createLabel">
            Create new Sprint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sprints">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="campFireApp.sprint.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="beginDate"><span jhiTranslate="campFireApp.sprint.beginDate">Begin Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="campFireApp.sprint.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamName"><span jhiTranslate="campFireApp.sprint.team">Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sprint of sprints ;trackBy: trackId">
                <td><a [routerLink]="['/sprint-mpm', sprint.id, 'view' ]">{{sprint.id}}</a></td>
                <td>{{sprint.name}}</td>
                <td>{{sprint.beginDate | date:'mediumDate'}}</td>
                <td>{{sprint.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="sprint.teamId">
                        <a [routerLink]="['../team-mpm', sprint.teamId , 'view' ]" >{{sprint.teamName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sprint-mpm', sprint.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sprint-mpm', sprint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sprint-mpm/'+ sprint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sprints && sprints.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
