<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-action-mpm-heading" jhiTranslate="campFireApp.action.home.createOrEditLabel">Create or edit a Action</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!action.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="action.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.action.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="action.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.action.responsible" for="field_responsible">Responsible</label>
                    <input type="text" class="form-control" name="responsible" id="field_responsible"
                        [(ngModel)]="action.responsible" required/>
                    <div [hidden]="!(editForm.controls.responsible?.dirty && editForm.controls.responsible?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.responsible?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.action.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="action.status" id="field_status"  required>
                        <option value="BLOCKED">{{'campFireApp.Status.BLOCKED' | translate}}</option>
                        <option value="TODO">{{'campFireApp.Status.TODO' | translate}}</option>
                        <option value="IN_PROGRESS">{{'campFireApp.Status.IN_PROGRESS' | translate}}</option>
                        <option value="DONE">{{'campFireApp.Status.DONE' | translate}}</option>
                        <option value="DEPRECATED">{{'campFireApp.Status.DEPRECATED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="campFireApp.action.sprint" for="field_sprint">Sprint</label>
                    <select class="form-control" id="field_sprint" name="sprint" [(ngModel)]="action.sprintId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sprintOption.id" *ngFor="let sprintOption of sprints; trackBy: trackSprintById">{{sprintOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
