<div>
    <h2 id="page-heading">
        <span jhiTranslate="campFireApp.idea.home.title">Ideas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-idea-mpm" [routerLink]="['/idea-mpm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="campFireApp.idea.home.createLabel">
            Create new Idea
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ideas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="campFireApp.idea.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="campFireApp.idea.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamName"><span jhiTranslate="campFireApp.idea.team">Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idea of ideas ;trackBy: trackId">
                <td><a [routerLink]="['/idea-mpm', idea.id, 'view' ]">{{idea.id}}</a></td>
                <td>{{idea.description}}</td>
                <td>
                    <div *ngIf="idea.userId">
                        <a [routerLink]="['../user-details-mpm', idea.userId , 'view' ]" >{{idea.userId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="idea.teamId">
                        <a [routerLink]="['../team-mpm', idea.teamId , 'view' ]" >{{idea.teamName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/idea-mpm', idea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/idea-mpm', idea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'idea-mpm/'+ idea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ideas && ideas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
