<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="idea">
            <h2><span jhiTranslate="campFireApp.idea.detail.title">Idea</span> {{idea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="campFireApp.idea.description">Description</span></dt>
                <dd>
                    <span>{{idea.description}}</span>
                </dd>
                <dt><span jhiTranslate="campFireApp.idea.user">User</span></dt>
                <dd>
                    <div *ngIf="idea.userId">
                        <a [routerLink]="['/user-details-mpm', idea.userId, 'view']">{{idea.userId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="campFireApp.idea.team">Team</span></dt>
                <dd>
                    <div *ngIf="idea.teamId">
                        <a [routerLink]="['/team-mpm', idea.teamId, 'view']">{{idea.teamName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/idea-mpm', idea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
